vosk>=0.3.45
edge-tts>=7.2.0
spacy>=3.8.0
SpeechRecognition>=3.16.0
pyttsx3>=2.99
psutil>=7.0.0
pyautogui>=0.9.54
pyjokes>=0.8.0
pyaudio>=0.2.14
beautifulsoup4>=4.14.0
requests>=2.34.0
pywhatkit>=5.4
wikipedia>=1.4.0
comtypes>=1.4.0
pydub>=0.25.0
pyperclip>=1.8.2
flask>=3.0.0
flask-sock>=0.7.0
pvporcupine>=3.0.0
webrtcvad>=2.0.10
pytesseract>=0.3.10
Pillow>=10.0.0
watchdog>=4.0.0
